{% extends 'demoapp/base.html' %}

{% block content %}
{% load static %}
    <section class="section">
        <div class = "container has-text-centered">
            <span class = "is-size-1">
                Bulma
            </span>
            <br>
            <br>
            <span class = "is-size-3">
                Performace
            </span>
            <br>
            <br>
            <span class = "is-size-5">
                Bulma actually exceeded my expectations in terms of performace as I expected the framework to be more limited due to how new it is. But, it provided many options to style this whole website in a relatively appealing way
                at a very fast rate.
            </span>
            <br>
            <br>
            <span class = "is-size-3">
                Difficulty
            </span>
            <br>
            <br>
            <span class = "is-size-5">
                Installing Bulma is not difficult at all as it only involved adding the CSS CDN in the "head" section of an html file. Learning the framework is also extremely easy especially with knowledge of html and other frameworks
                like Bootstrap. In terms of actually creating the pages, it was very simple and all of the options provided by Bulma like the navigation bar, columns, containers were all easy to use and very useful to create an appealing page.
            </span>
            <br>
            <br>
            <span class = "is-size-1">
                Django
            </span>
            <br>
            <br>
            <span class = "is-size-3">
                Performace
            </span>
            <br>
            <br>
            <span class = "is-size-5">
                Django performed pretty much as I expected in terms of proving functionality to the Posts page. The only thing I did not really expect as much was having to manage so many files (i.e models.py, urls.py, etc), instead,
                I expected it to be more concentrated. But, in the end it worked out better as all the files split the code into much neater and more readable sections.
            </span>
            <br>
            <br>
            <span class = "is-size-3">
                Difficulty
            </span>
            <br>
            <br>
            <span class = "is-size-5">
                Installing Django itself in a local environment is not particularly difficult, but I did have a bit of trouble getting the environment to function with Visual Studio Code, which fortunately was not too hard to solve.
                Learning this back-end frame-work was relatively challenging due to all the files one had to manage and worry about. The learning curve is steeper than HTML, CSS, JavaScript and PHP in my personal opinion due to 
                all the file managing one has to do. In terms of creating actual webpages, Django is suited for large projects as the starting part where you have to configure everything takes the most time. But, after getting everything
                set up and all files ready, the process becomes much easier and way faster.
            </span>
            <br>
            <br>
            <span class = "is-size-1">
                Final Conclusions for Both Frameworks
            </span>
            <br>
            <br>
            <span class = "is-size-5">
                Overall, I am happy with the way this website came out and would personally not have done anything differently. The frameworks themselves were quite interesting to learn and I did not regret my choice in picking them.
            </span>
            <br>
            <br>
        </div>
    </section>
{% endblock %}