{% extends 'demoapp/base.html' %}

{% block content %}
{% load static %}
    <section class="section">
        <div class = "container has-text-centered">
            <span class = "is-size-1">
                Credits
            </span>
            <br>
            <br>
            <span class = "is-size-3">
                Egor Polevin (Sorry, no image available)
            </span>
            <br>
            <br>
            <span class = "is-size-5">
                Creator of this website. Material such as the images were taken by me other than the Bulma and Django logos.
            </span>
        </div>
    </section>
{% endblock %}